
// ====================
// Navigation Styles
// ====================


@use 'sass:color'; // for lighten()

.nav {
  position: absolute;
  right: 0;
  top: 2.2em;

  ul {
    list-style-type: none;

    li {
      float: left;

      &:last-child {
        padding-right: 0;
      }

      a,
      span {
        display: block;
        margin-left: 0.7em;
        padding: 0.8em 1.2em;
        letter-spacing: 0.06em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1em;
        color: vars.$text-dark;
        transition: color vars.$transition ease-in-out;
      }

      &.active a {
        background: vars.$primary-color;
        border-radius: vars.$border-radius;
        color: vars.$white;
      }

      a:hover {
        background: color.lighten(vars.$primary-color, 5%);
        color: vars.$white;
      }
    }
  }
}




// it was:


// .nav {
//   position: absolute;
//   right: 0em;
//   top: 2.2em;
// }

// .nav ul {
//   list-style-type: none;
// }

// .nav ul li {
//   float: left;
// }

// .nav ul li:last-child {
//   padding-right: 0;
// }

// .nav ul li a,
// .nav ul li span {
//   display: block;
//   margin-left: 0.7em;
//   padding: 0.80em 1.2em;
//   letter-spacing: 0.06em;
//   text-decoration: none;
//   text-transform: uppercase;
//   font-size: 1.1em;
//   outline: 0;
//   color: #333;
// }

// .nav li.active a {
//   background: #0d6efd;
//   border-radius: 5px;
//   color: #FFF;
// }