@use './nav';
@use 'sass:color';


// =========
// Variables
// ==========

// Colors
$primary-color: #0d6efd;
$background-dark: #202020;
$text-light: rgba(255, 255, 255, 0.4);
$text-dark: #333;
$white: #fff;
$border-color: rgba(0, 0, 0, 0.1);

// Fonts
$font-main: 'Roboto Condensed', sans-serif;

// Sizes
$container-width: 1200px;
$gutter: 50px;
$border-radius: 6px;
$transition: 0.35s;

// Image paths
$img-path: '/images';

//NESTING the comment changes to...

// body {
//   background: #202020 url('/images/footer-bg.jpg') repeat;
//   min-width: 1200px;
//   margin: 0;
//   padding: 0;
// }

// body,
// input,
// textarea,
// select {
//   font-family: 'Roboto Condensed', sans-serif;
//   font-weight: 300;
//   font-size: 11pt;
//   line-height: 1.75em;
//}


//this...

body {
  background: $background-dark url('#{$img-path}/footer-bg.jpg') repeat;
  min-width: $container-width;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;}



// these comments nest to....

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   font-weight: 300;
//}

// h1 a,
// h2 a,
// h3 a,
// h4 a,
// h5 a,
// h6 a {
//   color: inherit;
//   text-decoration: none;
//}

//this
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;

    a {
      color: inherit;
      text-decoration: none;
    }
  }



strong,
b {
  font-weight: bold;
  color: $text-dark; //use the dark text variable instead of listing color over again
}

//not sure here if I need to change????????
em,
i {
  font-style: italic;
}

a {
  color: #0d6efd;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

header {
  margin-bottom: 2em;
  line-height: 1.7em;
}

header h2 {
  font-size: 2.5em;
}

header .byline {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0 0 0.5em 0;
  text-transform: uppercase;
  font-size: 1.4em;
}

section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child {
  margin-bottom: 0;
}

section:last-child,
article:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}


//nesting container goes from the comments to...

// .container {
//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//}

// .container.small {
//   width: 900px;
//}

// .container.big {
//   width: 100%;
//   max-width: 1500px;
//   min-width: 1200px;
//}

// .row section,
// .row article {
//   margin-bottom: 0;
// }

// .row [class*='column-'] {
//   padding: 50px 0 0 50px;
//   float: left;
//   box-sizing: border-box;
// }

// .row {
//   margin-left: -50px;
// }

// .row:after {
//   content: '';
//   display: block;
//   clear: both;
//   height: 0;
//} 

// to this nested version of row:

//to this with row also nested in container

.container {
  width: $container-width;
  margin: 0 auto;

  &.small {
    width: 900px;
  }

  &.big {
    width: 100%;
    max-width: 1500px;
    min-width: $container-width;
  }



.row {
    margin-left: -$gutter;

    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
    }

    [class*='column-'] {
      padding: $gutter 0 0 $gutter;
      float: left;
      box-sizing: border-box;
    }
  }
}

// turn this commented to a loop to make easier...

// .column-1,
// .column-2,
// .column-3,
// .column-4,
// .column-5,
// .column-6,
// .column-7.column-8,
// .column-9,
// .column-10,
// .column-11,
// .column-12 {
//   width: 100%;
//}

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $col in $columns {
  .column-#{$col} {
    width: (100% / 12) * $col;
  }
}


// @media all and (min-width: 576px){
//   .column-1 {
//     width: 8.33333%;
//  }

//   .column-2 {
//     width: 16.66667%;
//   }

//   .column-3 {
//     width: 25%;
//   }

//   .column-4 {
//     width: 33.33333%;
//   }

//   .column-5 {
//     width: 41.66667%;
//   }

//   .column-6 {
//     width: 50%;
//   }

//   .column-7 {
//     width: 58.33333%;
//   }

//   .column-8 {
//     width: 66.66667%;
//   }

//   .column-9 {
//     width: 75%;
//   }

//   .column-10 {
//     width: 83.33333%;
//   }

//   .column-11 {
//     width: 91.66667%;
//   }

//   .column-12 {
//     width: 100%;
//   }
// }

.image {
  display: inline-block;


&.img {
  display: block;
  width: 100%;
}

&.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

&.full {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

&.left {
  float: left;
  margin: 0 2em 2em 0;
}

&.centered {
  display: block;
  margin: 0 0 2em 0;


& img {
  margin: 0 auto;
  width: auto;
}
}
}


// ul.default {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// ul.default li {
//   display: block;
//   padding: 2em 0em 1.25em 0em;
//   border-top: 1px solid #303030;
// }

// ul.default li:first-child {
//   padding-top: 0em;
//   border-top: none;
// }

// ul.default a {
//   text-decoration: none;
//   color: rgba(255, 255, 255, .5);
// }

// ul.default a:hover {
//   text-decoration: underline;
// }

// ul.style1 {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// ul.style1 li {
//   padding: 0.60em 0em;
//   border-top: 1px solid;
//   border-color: rgba(0, 0, 0, .1);
// }

// ul.style1 li:first-child {
//   padding-top: 0;
//   border-top: 0;
// }

// ul.style2 {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// ul.style2 li {
//   padding: 1.90em 0em 1.60em 0em;
//   border-top: 1px solid;
//   border-color: rgba(0, 0, 0, .1);
// }

// ul.style2 li:first-child {
//   padding-top: 0;
//   border-top: 0;
// }

// ul.style2 img {
//   float: left;
//   padding-right: 1em;
// }

// ul.style5 {
//   overflow: hidden;
//   margin: 0em 0em 1em 0em;
//   padding: 0em;
//   list-style: none;
// }

// ul.style5 li {
//   float: left;
//   padding: 0.25em 0.25em;
//   line-height: 0;
// }


//all the above ul elements are neatly neately nested as so:


ul.default {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.default li {
  display: block;
  padding: 2em 0em 1.25em 0em;
  border-top: 1px solid #303030;
}

ul.default li:first-child {
  padding-top: 0em;
  border-top: none;
}

ul.default a {
  text-decoration: none;
  color: rgba(255, 255, 255, .5);
}

ul.default a:hover {
  text-decoration: underline;
}

ul.style1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style1 li {
  padding: 0.60em 0em;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .1);
}

ul.style1 li:first-child {
  padding-top: 0;
  border-top: 0;
}

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style2 li {
  padding: 1.90em 0em 1.60em 0em;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .1);
}

ul.style2 li:first-child {
  padding-top: 0;
  border-top: 0;
}

ul.style2 img {
  float: left;
  padding-right: 1em;
}

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: none;
}

ul.style5 li {
  float: left;
  padding: 0.25em 0.25em;
  line-height: 0;
}


//following have been nested

.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: #0d6efd;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #FFF;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;


&:hover {
  background: #0d6efd;
  color: #FFF !important;
}
}




.header {
  position: relative;
  background: #FFF;


&.container {
  position: relative;
  padding: 4em 0em;
}
}



.logo {
  position: absolute;
  left: 0em;
  top: 3em;

 a {
  display: block;
  text-decoration: none;
  font-size: 2.8em;
  font-weight: 600;
}
}



.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.page {
  position: relative;
  background: #fff;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar header h2 {
  font-size: 1.6em;
}



.footer {
  position: relative;
  color: rgba(255, 255, 255, 0.4);

  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: #fff;
  }

  strong {
    color: rgba(255, 255, 255, 0.7);
  }
}



.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, .4);


 a {
  text-decoration: none;
  color: rgba(255, 255, 255, .4) !important;
}
}



.marketing {
  position: relative;

  header {
    h2 {
      font-size: 1.6em;
    }
  }
}


.featured {
  position: relative;

  .divider {
    border-bottom: 1px solid #303030;
  }

  .box {
    background: #fff;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}




.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: #333;

  strong {
    color: #333 !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}


